@using System.Diagnostics
@using InvoiceApplication.Data
@inject ApplicationDbContext _context

@{
    User user = null;
    if (SessionHelper.IsExists(Context.Session, "User"))
    {
        user = (User)Context.Session.Get<User>("User");
    }

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings"))
    {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }

    if (!SessionHelper.IsExists(Context.Session, "Settings"))
    {
        settings = _context.Settings.Single(s => s.ID == 1);
        SessionHelper.Set(Context.Session, "Settings", settings);
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.CompanyName</title>

    @RenderSection("HEAD", required: false)

    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!--Awesome Font-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @if (settings.Logo != "" && settings.UseLogo == true && user != null)
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(user.Email)" class="navbar-brand"><img src="~/images/@(settings.Logo)" class="img-responsive" /></a>
                }
                
                @if (settings.Logo != "" && settings.UseLogo == true && user == null)
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/@(settings.Logo)" class="img-responsive" /></a>
                }

                @if(settings.UseLogo == false && user != null)
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-email="@(user.Email)" class="navbar-brand navtext">@settings.CompanyName</a>
                }

                @if (settings.UseLogo == false && user == null)
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand navtext">@settings.CompanyName</a>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (user != null)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-route-email="@(user.Email)" asp-action="Index">Home</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    }

                    @if (user != null && user.AccountType == "Admin")
                    {
                        <li><a asp-area="" asp-controller="Debtor" asp-action="Index">Debtors</a></li>
                        <li><a asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                        <li><a asp-area="" asp-controller="Invoice" asp-action="Index">Invoices</a></li>
                    }

                    @if (user != null && user.AccountType == "Client")
                    {
                        <li><a asp-area="" asp-controller="MyInvoice" asp-action="Index">Invoices</a></li>
                    }

                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; 2017 - @settings.CompanyName</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
