@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "Invoices";
}


<div class="container">

    <div class="row main">

        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Invoices</h1>
                <hr style="width:60%;border-top:2px solid #fff;" />
            </div>
        </div>


        <div class="main-large main-center">
            <p>
                @using (Html.BeginForm())
                {

                    <br />

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="form-inline">


                                @Html.TextBox("searchQuery", null, htmlAttributes: new { @class = "form-control", @placeholder = "Find..." })

                                <button type="submit" value="Search" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                    Search
                                </button>

                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                }
            </p>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Invoice Number", "Index", new { sortOrder = ViewBag.NumberSortParm })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpirationDate)
                        </th>
                        <td>
                            @Html.Raw("<b>Paid</b>")
                        </td>
                        <th>
                            @Html.ActionLink("Total", "Index", new { sortOrder = ViewBag.TotalSortParm })
                        </th>
                        <th>
                            @Html.Raw("Download")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.InvoiceNumber">
                                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpirationDate)
                            </td>
                            <td>
                                @if (item.Paid == true)
                                {
                                    @Html.Raw("Yes")
                                }
                                else
                                {
                                    @Html.Raw("No")
                                }
                            </td>
                            <td>
                                @Html.Raw(String.Format("{0:C2}", item.Total))
                            </td>
                            <td>
                                <a asp-action="PDF" asp-route-id="@item.InvoiceNumber">Download PDF</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>

</div>