@model InvoiceMVC.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

<h3></h3>
<div>
    <h4></h4>
    <hr />

    
    <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <!--BEGIN OF COLUMN-->
        <div class="col-sm-6 col-md-6">

            <table class="table table-hover table-bordered" style="font-size:14px;">
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Name)</b></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Description)</b></td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Price)</b></td>
                    <td>@Html.Raw(String.Format("{0:C2}", Model.Price))</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.TaxPercentage)</b></td>
                    <td>@Html.Raw(String.Format("{0}%", Model.TaxPercentage))</td>
                </tr>
            </table>

            <form asp-action="Delete">
                <div class="form-actions">
                    <input type="submit" id="delete_prod_btn" value="Delete" class="btn btn-primary" />
                </div>
            </form>

        </div>
        <!--END OF COLUMN-->
        <div class="col-sm-3 col-md-3"></div>
    </div>
</div>

<div>
    <br />

    <a asp-action="Index">Back to Overview</a>
</div>
