@model IEnumerable<InvoiceMVC.Models.Product>

@{
    ViewData["Title"] = "Product Overview";
}

<h2>Product Overview</h2>

<p>
    <a asp-action="Create">Create New Product</a>

    @using (Html.BeginForm())
    {
        <br />

        <div class="form-inline">
            @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Find..." })
            <input type="submit" value="Search" class="btn btn-primary" />

            <br />
            <br />

        </div>
    }
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.Raw(String.Format("{0:C2}", item.Price))
                </td>
                <td>
                    @Html.Raw(String.Format("{0}%", item.TaxPercentage))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
