@using System.Diagnostics
@using InvoiceApplication.Data
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Home Page";

    User user = null;
    if (SessionHelper.IsExists(Context.Session, "User"))
    {
        user = (User)Context.Session.Get<User>("User");
    }

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings"))
    {
        Debug.WriteLine("Settings exists");
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }

    if (!SessionHelper.IsExists(Context.Session, "Settings"))
    {
        settings = _context.Settings.Single(s => s.ID == 1);
        SessionHelper.Set(Context.Session, "Settings", settings);
    }

    var count = ViewBag.invoiceList.Count;

}

@section HEAD{
    <!-- amCharts javascript code -->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/gauge.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/black.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.js" type="text/javascript"></script>
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css">
}

<!-- Top Row -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        @if (user != null)
        {
            <h2>Welcome, @user.FirstName</h2>
        }
        else
        {
            <h2>Welcome</h2>
        }
    </div>
    <div class="col-md-3"></div>
</div>

<br />
<br />

<!-- Middle Row -->
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4 id="invoiceText" class="text-center"></h4>
    </div>
    <div class="col-sm-2"></div>
</div>

<br />
<br />

<!-- Bottom Row -->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
        <div id="chartdiv" style="width:100%;height:400px;background-color:#d3d3d3;display:none;"></div>
    </div>
    <div class="col-sm-3"></div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var current = null;
            var account = null;

            @if (user != null)
            {
                <text>
                    current = "@user.Email";
                    account = "@user.AccountType";
                </text>
            }

            if (current != "" && account == "Client")
            {
                setText();
                $("#chartdiv").show();
                showClientChart();
            }

            if (current != "" && account == "Admin")
            {
                $("#chartdiv").show();
                 showAdminChart();
            }

            if (current == "" || current == null) {
                var noUserText = "With this application it is possible to view and pay your invoices"
                            + "<br /><br />"
                            + "To use this website, you must login using the credentials sent to you by @settings.CompanyName.";
                $("#invoiceText").html(noUserText);
            }

        });

        function setText(){
            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && (count == 0 || ViewBag.invoiceList == null))
            {
                <text>
                    $("#invoiceText").html("There are no unpaid invoices found at the moment.");
                </text>
            }

            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && count == 1)
            {
                <text>
                    $("#invoiceText").html("You have 1 unpaid invoice." + "<br />" + "To be paid: &euro; @(ViewBag.total)");
                </text>
            }

            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && count > 1)
            {
                <text>
                    $("#invoiceText").html("You have @(count) unpaid invoices." + "<br />" + "To be paid: &euro;  @(ViewBag.total)");
                </text>
            }
        };


        /* BEGIN OF SCRIPT FOR CHART */
        function showClientChart(){

            var paidArray = @(ViewBag.paid);
            var unpaidArray = @(ViewBag.unpaid);

            AmCharts.makeChart("chartdiv",
                    {
                        "type": "pie",
                        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                        "innerRadius": 0,
                        "labelRadius": 21,
                        "radius": 100,
                        "baseColor": "#0063D3",
                        "hoverAlpha": 0.62,
                        "outlineThickness": 0,
                        "titleField": "category",
                        "valueField": "column-1",
                        "decimalSeparator": ",",
                        "percentPrecision": 1,
                        "theme": "default",
                        "thousandsSeparator": ".",
                        "allLabels": [],
                        "creditsPosition": "bottom-right",
                        "showEntries": true,
                        "balloon": {},
                        "legend": {
                            "enabled": true,
                            "align": "center",
                            "markerType": "circle"
                        },
                        "titles": [],
                        "dataProvider": [
                            {
                                "category": "Paid",
                                "column-1": paidArray
                            },
                            {
                                "category": "Unpaid",
                                "column-1": unpaidArray
                            }
                        ]
                    });
        }

        function showAdminChart() {

            var p = @(ViewBag.totalPaid);

            AmCharts.makeChart("chartdiv", {
                "type": "gauge",
                "faceBorderColor": "#000000",
                "marginBottom": 20,
                "marginTop": 40,
                "startDuration": 6,
                "accessibleTitle": "",
                "creditsPosition": "bottom-right",
                "fontSize": 13,
                "theme": "light",
                "arrows": [
                    {
                        "id": "GaugeArrow-1",
                        "innerRadius": "35%",
                        "value": p
                    }
                ],
                "axes": [
                    {
                        "axisThickness": 1,
                        "bottomText": p + " %",
                        "bottomTextYOffset": -20,
                        "endValue": 100,
                        "id": "GaugeAxis-1",
                        "valueInterval": 10,
                        "bands": [
                            {
                                "alpha": 0.7,
                                "color": "#00CC00",
                                "endValue": 33,
                                "id": "GaugeBand-1",
                                "startValue": 0
                            },
                            {
                                "alpha": 0.7,
                                "color": "#ffac29",
                                "endValue": 66,
                                "id": "GaugeBand-2",
                                "startValue": 33
                            },
                            {
                                "alpha": 0.7,
                                "color": "#ea3838",
                                "endValue": 100,
                                "id": "GaugeBand-3",
                                "innerRadius": "95%",
                                "startValue": 66
                            }
                        ]
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [
                    {
                        "id": "percentage_title",
                        "text": "Percentage of Invoices Paid"
                    }
                ]
            });
        }

    </script>
}