@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<AppSettings> settings


@{
    ViewData["Title"] = "Home Page";

    User user = null;

    if (SessionHelper.IsExists(Context.Session, "User"))
    {
        user = (User)Context.Session.Get<User>("User");
    }

    var count = ViewBag.invoiceList.Count;

}

@section HEAD{
    <!-- amCharts javascript code -->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.js" type="text/javascript"></script>
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css">
}

<!-- Top Row -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        @if (user != null)
        {
            <h2>Welcome, @user.FirstName</h2>
        }
        else
        {
            <h2>Welcome</h2>
        }
    </div>
    <div class="col-md-3"></div>
</div>

<br />
<br />

<!-- Middle Row -->
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4 id="invoiceText" class="text-center"></h4>
    </div>
    <div class="col-sm-2"></div>
</div>

<br />
<br />

<!-- Bottom Row -->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div id="chartdiv" style="width:100%;height:400px;background-color:#d3d3d3;display:none;"></div>
    </div>
    <div class="col-sm-3"></div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            showChart();
            setText();
        });

        function setText(){

            var noUserText = "With this application it is possible to view and pay your invoices"
                            + "<br /><br />"
                            + "To use this website, you must login using the credentials sent to you by @settings.Value.Name.";

            var adminText = "<div class='row'>"
                            + "<div class='col-md-12 text-center'>"
                            + "<h3>Let's Start</h3>"
                            + "<br />"
                            + "<p>"
                                + "by adding new debtors to your list to start sending invoices to them..."
                            + "</p>"
                            + "<p>"
                                + "<a href='@Url.Action("Index", "Invoice")' class='btn btn-primary btn-link' style='width:150px;height:35px;font-weight:600;'>Add new debtor</a>"
                            + "</p>"
                            + "<br />"
                            + "<p>"
                                + "...or start by creating a new invoice for one of your debtors."
                            + "</p>"
                            + "<p>"
                                + "<a href='@Url.Action("Index", "Invoice")' class='btn btn-primary btn-link' style='width:150px;height:35px;font-weight:600;'>Create Invoice</a>";
                            + "</p>"
                            + "</div>";

            //Set text when no user logged in
            @if (user == null)
            {
                <text>
                    $("#invoiceText").html(noUserText);
                </text>
            }

            @if (user != null && user.AccountType == "Admin")
            {
                <text>
                    $("#invoiceText").html(adminText);
                </text>
            }

            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && (count == 0 || ViewBag.invoiceList == null))
            {
                <text>
                    $("#invoiceText").html("There are no unpaid invoices found at the moment.");
                </text>
            }

            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && count == 1)
            {
                <text>
                    $("#invoiceText").html("You have 1 unpaid invoice." + "<br />" + "To be paid: &euro; @(ViewBag.total)");
                    $("#chartdiv").show();
                </text>
            }

            //Set text according to items inside invoices
            @if (user != null && user.AccountType == "Client" && count > 1)
            {
                <text>
                    $("#invoiceText").html("You have @(count) unpaid invoices." + "<br />" + "To be paid: &euro;  @(ViewBag.total)");
                    $("#chartdiv").show();
                </text>
            }
        };


        /* BEGIN OF SCRIPT FOR CHART */
        function showChart(){

            var paidArray = @(ViewBag.paid);
            var unpaidArray = @(ViewBag.unpaid);

            AmCharts.makeChart("chartdiv",
                    {
                        "type": "pie",
                        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                        "innerRadius": 0,
                        "labelRadius": 21,
                        "radius": 100,
                        "baseColor": "#0063D3",
                        "hoverAlpha": 0.62,
                        "outlineThickness": 0,
                        "titleField": "category",
                        "valueField": "column-1",
                        "decimalSeparator": ",",
                        "percentPrecision": 1,
                        "theme": "default",
                        "thousandsSeparator": ".",
                        "allLabels": [],
                        "creditsPosition": "bottom-right",
                        "showEntries": true,
                        "balloon": {},
                        "legend": {
                            "enabled": true,
                            "align": "center",
                            "markerType": "circle"
                        },
                        "titles": [],
                        "dataProvider": [
                            {
                                "category": "Paid",
                                "column-1": paidArray
                            },
                            {
                                "category": "Unpaid",
                                "column-1": unpaidArray
                            }
                        ]
                    }
                );
        };

    </script>
}